.site-header {
  @include wf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 32px 80px 0;
  // padding: 32px;
  padding-top: 32px;
  transition: 0.5s;
  @include mq-down {
    width: 100%;
    height: 80px;
    padding: 8px;
    background-color: $white;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  @include mq-down(sm) {
    height: 64px;
  }
  &__logo-link {
    max-width: 310px;
    width: 100%;
    @include mq-down {
      margin: 0 auto;
      max-width: 170px;
    }
    @include mq-down(sm) {
      max-width: 176px;
    }
  }
  &__logo {
    max-width: 310px;
    width: 100%;
    height: auto;
    padding: 0 48px;
    vertical-align: middle;
    @include mq-down {
      margin: 0 auto;
      max-width: 170px;
      padding: unset;
      transition: 0.3s;
    }
    @include mq-down(sm) {
      max-width: 176px;
    }
    &.active {
      z-index: 100;
      transition: 0.3s;
    }
  }
  // &.active {
  //   background-color: rgba($color: $black, $alpha: 0);
  //   transition: 0.5s;
  // }

  &__nav {
    width: 100%;
  }
}

.nav {
  display: flex;
  width: 100%;
  margin: 0 0 0 auto;
  max-width: 850px;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  &__item {
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $white;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      font-weight: normal;
      transition: 0.2s;
      border-bottom: 1px solid $gray;
    }
    &--bg {
      display: flex;
      color: $white;
      text-align: center;
      line-height: 0;
      i {
        padding: 16px 0 18px;
        font-size: 28px;
      }

      .bg-blue {
        background-color: $grayblue;
        width: 172px;
        height: 90px;
        transition: 0.3s;
        &:hover {
          background-color: $grayblue-hover;
          transition: 0.3s;
        }
      }
      .bg-darkblue {
        background-color: $darkblue;
        width: 172px;
        height: 90px;
        transition: 0.3s;
        &:hover {
          background-color: $darkblue-hover;
          transition: 0.3s;
        }
      }
    }
  }
}
