//color
$white: #fafdfe;
$whiteblue: #75aac8;
$blue: #3e6cb3;
$grayblue: #8093b1;
$grayblue-hover: #5a4953;
$darkblue: #336792;
$darkblue-hover: #1e1124;
$blackblue: #203960;
$whitegray: rgba(
  $color: #cccccc,
  $alpha: 0.2,
);
$gray: #e4e4e4;
$black: #414547;
