@import "responsive";
@import "colors";
@import "width_settings";

@mixin cmn_txt(
  $ff: Hiragino Maru Gothic ProN,
  $fz: 18,
  $ls: 3,
  $lh: 40,
  $mfz: 16,
  $mls: 3,
  $mlh: 36,
  $sfz: 13,
  $sls: 3,
  $slh: 26
) {
  //"游ゴシック体"を後半にも持ってきている
  font-family: $ff, YuGothic, "游ゴシック体", "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", sans-serif;
  color: $black;
  font-size: #{$fz}px;
  letter-spacing: #{$ls}px;
  line-height: #{$lh}px;
  font-weight: normal;
  @include mq-down {
    font-size: #{$mfz}px;
    line-height: #{$mlh}px;
    letter-spacing: #{$mls}px;
  }
  @include mq-down(sm) {
    font-size: #{$sfz}px;
    line-height: #{$slh}px;
    letter-spacing: #{$sls}px;
  }
}

/*====================================================================================
nav
====================================================================================*/

.nav__item {
  @include cmn_txt($ff: Tsukushi A Round Gothic, $fz: 16, $ls: 1, $lh: 20);
  font-weight: lighter;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.globalMenuSp {
  @include cmn_txt($fz: 20, $ls: 0.2, $lh: 30, $mfz: 20, $mls: 0.2, $mlh: 30, $sfz: 20, $sls: 0.2, $slh: 30);
  color: $white;
}
.page-nation-link {
  @include cmn_txt(
    $ff: Hiragino Maru Gothic ProN,
    $fz: 16,
    $ls: 3,
    $lh: 16,
    $mfz: 14,
    $mls: 3,
    $mlh: 14,
    $sfz: 12,
    $sls: 3,
    $slh: 12
  );
  color: rgba($color: $black, $alpha: 0.6);
}

/*====================================================================================
title
====================================================================================*/

.page-ttl {
  @include cmn_txt(
    $ff: Tsukushi A Round Gothic,
    $fz: 40,
    $ls: 8,
    $lh: 40,
    $mfz: 28,
    $mls: 6,
    $mlh: 40,
    $sfz: 20,
    $sls: 5,
    $slh: 32
  );
  color: $whiteblue;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  @include mq-down {
    color: $white;
  }
  span {
    color: rgba($color: $black, $alpha: 0.7);
    font-size: 22px;
    letter-spacing: 4.4px;
    font-weight: normal;
    @include mq-down {
      color: $blue;
    }
  }
}

.sct-ttl {
  @include cmn_txt(
    $ff: Tsukushi A Round Gothic,
    $fz: 40,
    $ls: 8,
    $lh: 65,
    $mfz: 28,
    $mls: 6,
    $mlh: 40,
    $sfz: 20,
    $sls: 5,
    $slh: 32
  );
  font-weight: bold;
  white-space: nowrap;
}
.sub-ttl {
  @include cmn_txt(
    $ff: Tsukushi A Round Gothic,
    $fz: 30,
    $ls: 3,
    $lh: 45,
    $mfz: 23,
    $mls: 3,
    $mlh: 39,
    $sfz: 15,
    $sls: 1.5,
    $slh: 32
  );
  font-weight: bold;
  opacity: 0.8;
}
.sct-ttl-lg {
  @include cmn_txt($fz: 40, $ls: 0.5, $lh: 60, $mfz: 30, $mls: 0.5, $mlh: 160, $sfz: 24, $sls: 0.5, $slh: 60);
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  @include mq-down(sm) {
    -ms-writing-mode: unset;
    writing-mode: unset;
    text-align: center;
  }
}
.sct-ttl2 {
  @include cmn_txt(
    $ff: Tsukushi B Round Gothic,
    $fz: 33,
    $ls: 10,
    $lh: 33,
    $mfz: 24,
    $mls: 8,
    $mlh: 24,
    $sfz: 18,
    $sls: 5.4,
    $slh: 18
  );
  display: inline-block;
  text-align: center;
  position: relative;
  display: block;
  margin: 0 auto 96px;
  @include mq-down {
    margin-bottom: 48px;
  }
  @include mq-down(sm) {
    margin-bottom: 32px;
  }
  span {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    letter-spacing: 4px;
    color: $whiteblue;
    @include mq-down {
      font-size: 14px;
      top: -30px;
    }
    @include mq-down(sm) {
      font-size: 12px;
      letter-spacing: 2px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px; /*線の上下位置*/
    display: inline-block;
    width: 80px; /*線の長さ*/
    height: 3px; /*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); /*位置調整*/
    background-color: $whiteblue; /*線の色*/
    border-radius: 1.5px; /*線の丸み*/
    @include mq-down {
      bottom: -8px;
      height: 2px;
      border-radius: 1px;
      width: 60px;
    }
  }
  &.contact {
    &::before {
      content: "CONTACT";
    }
  }
}
.ttl2 {
  @include cmn_txt(
    $ff: Tsukushi B Round Gothic,
    $fz: 33,
    $ls: 10,
    $lh: 33,
    $mfz: 24,
    $mls: 8,
    $mlh: 24,
    $sfz: 18,
    $sls: 5.4,
    $slh: 18
  );
  display: inline-block;
  text-align: center;
  position: relative;
  margin-bottom: 56px;
  @include mq-down {
    margin-bottom: 32px;
  }
  @include mq-down(sm) {
    margin-bottom: 24px;
  }
  &::before {
    content: "RECRUIT";
    font-size: 11px;
    letter-spacing: 3.3px;
    color: $whiteblue;
    line-height: 48px; //タイトルとの位置調整
    @include mq-down {
      font-size: 10px;
      line-height: 32px;
    }
    @include mq-down(sm) {
      font-size: 8px;
      letter-spacing: 2px;
      line-height: 24px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px; /*線の上下位置*/
    display: inline-block;
    width: 80px; /*線の長さ*/
    height: 3px; /*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); /*位置調整*/
    background-color: $whiteblue; /*線の色*/
    border-radius: 1.5px; /*線の丸み*/
    @include mq-down {
      bottom: -8px;
      height: 2px;
      border-radius: 1px;
      width: 60px;
    }
  }
  &.contact {
    &::before {
      content: "CONTACT";
    }
  }
}
.service-card-ttl {
  @include cmn_txt(
    $ff: Tsukushi B Round Gothic,
    $fz: 24,
    $ls: 2,
    $lh: 40,
    $mfz: 18,
    $mls: 1.5,
    $mlh: 30,
    $sfz: 18,
    $sls: 1.5,
    $slh: 30
  );
  color: $blackblue;
  font-weight: bold;
  text-align: center;
}
.area-ttl {
  @include cmn_txt(
    $ff: Tsukushi B Round Gothic,
    $fz: 33,
    $ls: 10,
    $lh: 100,
    //facilities-areaのheightに合わせている
    $mfz: 26,
    $mls: 8,
    $mlh: 64,
    $sfz: 20,
    $sls: 6,
    $slh: 48
  );
  color: $white;
  font-weight: bold;
}
.card01__ttl {
  @include cmn_txt(
    $ff: Tsukushi B Round Gothic,
    $fz: 30,
    $ls: 3,
    $lh: 30,
    $mfz: 24,
    $mls: 3,
    $mlh: 24,
    $sfz: 18,
    $sls: 2.5,
    $slh: 18
  );
  font-weight: bold;
}
.news-card-ttl {
  @include cmn_txt($fz: 19, $ls: 4, $lh: 19, $mfz: 19, $mls: 4, $mlh: 19, $sfz: 19, $sls: 4, $slh: 19);
  white-space: nowrap;
}
.news-side-link__ttl {
  @include cmn_txt($fz: 16, $ls: 1.6, $lh: 50, $mfz: 14, $mls: 1.6, $mlh: 40, $sfz: 14, $sls: 1.6, $slh: 30);
  color: $white;
}
.article-ttl {
  @include cmn_txt(
    $ff: Tsukushi A Round Gothic,
    $fz: 40,
    $ls: 6,
    $lh: 80,
    $mfz: 28,
    $mls: 4,
    $mlh: 42,
    $sfz: 20,
    $sls: 3,
    $slh: 30
  );
  font-weight: bold;
}

/*投稿ページのhタグスタイリング*/
.article__contents {
  h1 {
    @include cmn_txt($fz: 40, $ls: 1.5, $lh: 80, $mfz: 30, $mls: 1.5, $mlh: 60, $sfz: 27, $sls: 1.5, $slh: 54);
  }
  h2 {
    @include cmn_txt($fz: 35, $ls: 1.5, $lh: 70, $mfz: 27, $mls: 1.5, $mlh: 54, $sfz: 25, $sls: 1.5, $slh: 50);
  }
  h3 {
    @include cmn_txt($fz: 30, $ls: 1.5, $lh: 60, $mfz: 24, $mls: 1.5, $mlh: 48, $sfz: 23, $sls: 1.5, $slh: 46);
  }
  h4 {
    @include cmn_txt($fz: 25, $ls: 1.5, $lh: 50, $mfz: 21, $mls: 1.5, $mlh: 42, $sfz: 21, $sls: 1.5, $slh: 42);
  }
  h5 {
    @include cmn_txt($fz: 20, $ls: 1.5, $lh: 40, $mfz: 18, $mls: 1.5, $mlh: 36, $sfz: 18, $sls: 1.5, $slh: 36);
  }
  h6 {
    @include cmn_txt($fz: 15, $ls: 1.5, $lh: 30, $mfz: 15, $mls: 1.5, $mlh: 60, $sfz: 15, $sls: 1.5, $slh: 30);
  }
}

/*====================================================================================
text
====================================================================================*/
.main-visual-call-number {
  @include cmn_txt($fz: 21, $ls: 4.2, $lh: 21, $mfz: 18, $mls: 4.2, $mlh: 18);
  color: $whiteblue;
  white-space: nowrap;
}
.main-visual-txt {
  @include cmn_txt($fz: 15, $ls: 1.5, $lh: 15, $mfz: 13, $mls: 1.5, $mlh: 13);
  white-space: nowrap;
  opacity: 0.6;
}

.table-txt {
  @include cmn_txt($fz: 16, $ls: 1.6, $lh: 50, $mfz: 14, $mls: 1.6, $mlh: 40, $sfz: 14, $sls: 1.6, $slh: 30);
  &.ymd {
    @include mq-down(sm) {
      font-size: 11px;
      opacity: 0.7;
    }
  }
}

.service-card-txt {
  @include cmn_txt($fz: 18, $ls: 1.8, $lh: 35, $mfz: 15, $mls: 1.8, $mlh: 25, $sfz: 14, $sls: 1.5, $slh: 24);
}
.cta-txt {
  @include cmn_txt(
    $ff: Tsukushi A Round Gothic,
    $fz: 19,
    $ls: 1.9,
    $lh: 30,
    $mfz: 15,
    $mls: 1.4,
    $mlh: 27,
    $sfz: 15,
    $sls: 1.5,
    $slh: 25
  );
  text-align: left;
}
.voice-txt {
  @include cmn_txt($fz: 17, $ls: 3, $lh: 30, $mfz: 15, $mls: 2.5, $mlh: 28, $sfz: 15, $sls: 2.5, $slh: 28);
}
.tag-txt {
  @include cmn_txt(
    $ff: Tsukushi A Round Gothic,
    $fz: 16,
    $ls: 2.5,
    $lh: 16,
    $mfz: 14,
    $mls: 2.5,
    $mlh: 14,
    $sfz: 12,
    $sls: 2.5,
    $slh: 12
  );
  color: $white;
  font-weight: bold;
}
.news-card-txt {
  @include cmn_txt($fz: 16, $ls: 2.5, $lh: 16, $mfz: 16, $mls: 2.5, $mlh: 26, $sfz: 16, $sls: 2.5, $slh: 16);
  color: rgba($color: $black, $alpha: 0.8);
  text-align: left;
}
.news-card-info {
  @include cmn_txt($fz: 12, $ls: 1.8, $lh: 12, $mfz: 12, $mls: 1.8, $mlh: 26, $sfz: 12, $sls: 1.8, $slh: 12);
  color: rgba($color: $black, $alpha: 0.4);
  &-divide {
    margin: 0 10px;
  }
}

//.news-side-link__itemでfontを管理したかった。何か方法はあるか調べる
.news-side-link__list {
  @include cmn_txt($fz: 14, $ls: 1.6, $lh: 50, $mfz: 12, $mls: 1.6, $mlh: 40, $sfz: 12, $sls: 1.6, $slh: 30);
}
.article-info {
  @include cmn_txt(
    $ff: Tsukushi A Round Gothic,
    $fz: 18,
    $ls: 3,
    $lh: 18,
    $mfz: 14,
    $mls: 1.8,
    $mlh: 14,
    $sfz: 12,
    $sls: 1.8,
    $slh: 12
  );
  color: rgba($color: $black, $alpha: 0.4);
  &-divide {
    margin: 0 10px;
  }
}

.footer-txt {
  @include cmn_txt($fz: 20, $ls: 2, $lh: 30, $mfz: 14, $mls: 2, $mlh: 14, $sfz: 12, $sls: 1.8, $slh: 12);
  text-align: left;
  @include mq-down {
    vertical-align: bottom;
  }
}
.copyright {
  @include cmn_txt($fz: 15, $ls: 1, $lh: 30, $mfz: 12, $mls: 1, $mlh: 24, $sfz: 8, $sls: 0.8, $slh: 16);
  color: $black;
  text-align: center;
  padding-bottom: 4px;
}

/*====================================================================================
other
====================================================================================*/
.txt-whiteblue {
  color: $whiteblue;
}
