.mw_wp_form_input {
  .contact-form {
    max-width: 900px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    @include mq-down {
      max-width: 500px;
    }
    .form-item {
      width: 100%;
      display: flex;
      margin-bottom: 24px;
      @include mq-down {
        flex-direction: column;
        br {
          display: none;
        }
      }
      label {
        display: table-cell;
        width: 30%;
        text-align: right;
        margin-right: 32px;
        @include mq-down {
          width: 100%;
          text-align: left;
        }
      }
      input,
      textarea {
        display: table-cell;
        background-color: $whitegray;
        width: 70%;
        @include mq-down {
          width: 100%;
        }
      }
    }
    p {
      display: block;
      width: calc(70% - 40px / 2);
      margin: 0 0 24px auto; //margin-topとbottomはform-itemのmargin-bottomに合わせる
      @include mq-down {
        width: 100%;
      }
      @include mq-down(sm) {
        margin: 0 0 16px auto;
      }

      .mwform-checkbox-field-text {
        margin-left: 24px;
        &::before {
          content: "✳︎";
          color: $red;
          margin-right: 8px;
        }
      }
    }
    .check-privacy-policy {
      width: 100%;
      width: calc(70% - 40px / 2);
      margin: 0 0 32px auto;
      display: flex;
      @include mq-down {
        width: 100%;
      }
      .mwform-checkbox-field {
        width: 30px;
        height: 30px;
      }
      .agreement {
        width: 24px;
        height: 24px;
      }
      p {
        display: none;
        &:last-child {
          display: block;
          margin: 0 0 32px 32px;
          &::before {
            content: "✳︎";
            color: $red;
            margin-right: 8px;
          }
        }
      }
    }
  }
  .btn-box {
    position: unset;
    margin: 0 auto;
  }
}
